/***
light theme
***/

/***
Reset and overrides  
***/
body {
  background-color: #fafafa;
}
/***
Page header
***/
.header {
  filter: none;
  background-image: none;
  background-color: #434343;
}

.navbar{
	background-color: #dfdedd;
	border-color: #34352C;
	margin-bottom: 0px;
	min-height: 30px;
}

.navbar-brand {
	float: left;
	height: 30px;
	padding: 5px 15px;
	font-size: 18px;
	line-height: 20px;
}

.header .btn-navbar {
  background-color: #434343;
}
.navbar-nav > li > a {
	padding-top: 5px; 
	padding-bottom: 5px; 
}
.navbar-nav .dropdown-toggle:hover,
.navbar-nav .dropdown.open .dropdown-toggle {
  background-color: #4f4f4f;
}
.navbar-nav li.dropdown .dropdown-toggle i {
  color: #808080;
}
/***
Header Search
***/

.header .search-form .form-control{
  color: #ccc;
  background-color: #666666;  
}

.header .search-form .submit {  
  background: url(../../img/search-icon.png);
}

/***
Main menu
***/
.main-menu{
	background: #4f4f4f;
}

.main-menu ul.nav li a {
  color: #ccc;
}

.main-menu ul.nav li.open > a,
.main-menu ul.nav li > a:hover,
.main-menu ul.nav li > a:focus {
  color: #fff;
  background: #4f4f4f;
}

.main-menu .dropdown-menu li:hover > a,
.main-menu ul.nav li.active > a,
.main-menu ul.nav li.active > a:hover {
  color: #fff;
  background: #4f4f4f; 
}

.main-menu .dropdown-menu {  
    background: #4f4f4f;
}
.main-menu .dropdown-menu li > a {    
    color: #ccc;
}

.main-menu .hor-menu-search-form-toggler.off {
   background: #4f4f4f url(../../img/hor-menu-search-close-white.png) no-repeat center;
}

.main-menu .search-form {  
  background:#4f4f4f; 
}

.main-menu .search-form form input {
  color: #ccc;
}

.main-menu .search-form .btn {
  color: #ccc;
  background: url(../../img/search-icon-white.png) no-repeat center;
}

.main-menu .search-form form input::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}
.main-menu .search-form form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}
.main-menu .search-form form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}
.main-menu .search-form form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
}
/***
Page sidebar
***/
.page-content {
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.page-sidebar-reversed .page-content {
  border-left: 0;
  border-right: 1px solid #e2e2e2;
}
.page-sidebar {
  background-color: #fafafa;
}
.page-sidebar-fixed .page-content {
  border: 0;
}
.page-sidebar-fixed .page-sidebar {
  border-right: 1px solid #e2e2e2;
}


ul.page-sidebar-menu > li > a {
  border-top: 1px solid #e2e2e2;
  color: #000;
  font-weight: 400;
}

ul.page-sidebar-menu > li:first-child > a {
   border-top: 1px solid transparent;
}

ul.page-sidebar-menu > li:last-child > a {
   border-bottom: 1px solid transparent;
}

ul.page-sidebar-menu > li a i {
  color: #bbb;
}
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  background: #eee;
  border-top: 1px solid #e8e8e8;
}
ul.page-sidebar-menu > li.active > a .selected {
  right:-7px;
  top:0px;
  width: 7px;
  height: 39px;
  background-image: url("../../img/sidebar-menu-arrow-green.png");
}  
.page-sidebar-reversed ul.page-sidebar-menu > li.active > a .selected {
  right: auto;
  left:-7px;
  background-image: url("../../img/sidebar-menu-arrow-green-reverse.png");
} 
ul.page-sidebar-menu > li.active i {
  color: #fff;
}
.page-sidebar-fixed ul.page-sidebar-menu > li.active > a .selected {
  display: none;
}
ul.page-sidebar-menu > li.active > a{
  background: #28b779;
  border-top-color: transparent;
  color:#fff;
}  
ul.page-sidebar-menu > li.active > a i {
  color: #fff;
}
ul.page-sidebar-menu > li > a > .arrow:before,
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #ccc;
}
ul.page-sidebar-menu > li.active > a .arrow:before, 
ul.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #fff;
}
ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px;
}

ul.page-sidebar-menu ul.sub-menu > li > a {
  font-weight: 400;
  color: #333;
}
ul.page-sidebar-menu ul.sub-menu > li.active > a,
ul.page-sidebar-menu ul.sub-menu > li > a:hover {
  color: #818181;
  background: #efefef; 
}

ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #ccc;
}

/* sub menu links effects */
ul.page-sidebar-menu ul.sub-menu > li.active > a,
ul.page-sidebar-menu ul.sub-menu > li > a:hover,
ul.page-sidebar-menu ul.sub-menu > li.open > a {
  color: #818181;
  background: #efefef; 
}
ul.page-sidebar-menu ul.sub-menu > li > a i {
  color: #bbb;
}

/* sidebar search */
.page-sidebar .sidebar-search input {
  background-color: #fbfbfb ;  
  color: #727272;
}
.page-sidebar .sidebar-search input::-webkit-input-placeholder {
  color: #aaa;
}
.page-sidebar .sidebar-search input:-moz-placeholder {
  color: #aaa;
}
.page-sidebar .sidebar-search input:-ms-input-placeholder {
  color: #aaa;
}
.page-sidebar .sidebar-search .input-box {
  border-bottom: 1px solid #e2e2e2;
}
.page-sidebar .sidebar-search .submit {
  background-image: url(../../img/search-icon-white.png);
}

/***
Sidebar toggler
***/
.sidebar-toggler {  
  background-image: url(../../img/sidebar-toggler-light.jpg);
  background-color: #333;
}
/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container {
  background-color: #fbfbfb;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove {  
  background-image: url("../../img/sidebar-search-close-light.png");
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
  background-color: #fbfbfb;
}
/***
Footer 
***/
.footer {
  color: #333333;
  background-color:#dfdedd;
}
.footer .footer-inner ul li a {
	color:#333333;
}
.footer .footer-tools .go-top {
  background-color: #666666;
}
.footer .footer-tools .go-top:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.footer .footer-tools .go-top i {
  color: #999999;
}
/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */
.page-footer-fixed .footer {
  background-color: #434343;
}
.page-footer-fixed .footer .footer-inner {
  color: #aaaaaa;
}
.page-footer-fixed .footer .footer-tools .go-top {
  background-color: #666666;
}
.page-footer-fixed .footer .footer-tools .go-top i {
  color: #aaaaaa;
}
/* end:fixed footer */
/***
Gritter Notifications 
***/
.gritter-top {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left -30px;
}
.gritter-bottom {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left bottom;
}
.gritter-item {
  display: block;
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left -40px;
}
.gritter-close {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left top;
}
.gritter-title {
  text-shadow: none;
  /* Not supported by IE :( */

}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  background-image: url(../../plugins/gritter/images/gritter-light.png);
}
.gritter-item-wrapper a {
  color: #18a5ed;
}
.gritter-item-wrapper a:hover {
  color: #0b6694;
}
/* begin: boxed page */
@media (min-width: 992px) {
  .page-boxed {
    background-color: #E8E8E8;
  }
  .page-boxed .page-container {
    background-color: #fafafa;
    border-left: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }
  .page-sidebar-reversed.page-boxed .page-container {
    border-left: 0;
    border-right: 1px solid #e2e2e2;
  }
  .page-boxed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-bottom: 0;
  }
  .page-boxed.page-sidebar-fixed .page-sidebar {
    border-left: 1px solid #e2e2e2;
  }
  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
    border-right: 1px solid #e2e2e2;
    border-left: 0; 
  }
  .page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
    background-color: #E8E8E8;
  }
}
/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 991px) {
  /***
  page sidebar
  ***/
  .page-sidebar {
    background-color: #f1f1f1;
    border-right: none;
  }
  .page-sidebar-fixed .page-sidebar {
    border-right: none; 
  }
  .page-content {
    border-left: none;
  }
  ul.page-sidebar-menu > li > a {
    border-top: 1px solid #ccc;
  }
  ul.page-sidebar-menu > li:last-child > a {
    border-bottom: 0;
  }

  ul.page-sidebar-menu > li.open > a,
  ul.page-sidebar-menu > li > a:hover {
    color: #666666;
    background-color: #dddddd;
  }
  ul.page-sidebar-menu > li.open > a {
    border-bottom-color: transparent;
  }
  ul.page-sidebar-menu > li.active > a {
    color: #ffffff;
    background-color: #28b779;
  }

  ul.page-sidebar-menu ul.sub-menu > li > a {
    color: #111;
  }

  ul.page-sidebar-menu ul.sub-menu > li.open > a,
  ul.page-sidebar-menu ul.sub-menu > li.active > a,
  ul.page-sidebar-menu ul.sub-menu > li > a:hover {
    color: #666666;
    background: #dddddd; 
  }

  .page-sidebar .sidebar-search input {
    background-color: #f1f1f1;
    color: #ccc;
  }

  .page-sidebar .sidebar-search .input-box {
    border-bottom-color: #ccc;
  }
  .page-sidebar .sidebar-search input::-webkit-input-placeholder {
    color: #ccc;
  }
  .page-sidebar .sidebar-search input:-moz-placeholder {
    color: #ccc;
  }
  .page-sidebar .sidebar-search input:-ms-input-placeholder {
    color: #ccc;
  }

  /***
  page footer
  ***/
  
  .footer {
    background-color: #434343;
  }

  .footer .footer-inner {
    color: #cccccc;
  }
  .footer .footer-tools .go-top {
    background-color: #666666;
  }
  .footer .footer-tools .go-top i {
    color: #999999;
  }
}

@media (max-width: 767px) {
  body {
    background-color: #333;
  }
}